In [3]:
from joblib import dump, load

from sklearn.datasets import load_iris
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

RANDOM_STATE = 123

In [4]:
X, y = load_iris(return_X_y=True, as_frame=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=RANDOM_STATE)

In [26]:
model = GradientBoostingClassifier(random_state=RANDOM_STATE)

model.fit(X_train, y_train)

GradientBoostingClassifier(random_state=123)

In [33]:
y_pred = model.predict(X_test)

train_score = f1_score(y_train, model.predict(X_train), average="weighted")
test_score = f1_score(y_test, model.predict(X_test), average="weighted")

print(f"Train f1-score: {train_score}")
print(f"Test f1-score: {test_score}")

Train f1-score: 1.0
Test f1-score: 0.8964912280701753

In [32]:
f1_score(y_train, model.predict(X_train), average="weighted")

1.0

In [42]:
model_path = "../models/iris_v1.joblib"
dump(model, model_path)
model = load(model_path)

In [44]:
model.predict([[1, 1, 1, 1]])

array([1])

In [6]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
import pandas as pd

pd.DataFrame({"sepal_length": [1],
                      "sepal_width": [1],
                      "petal_length": [1],
                      "petal_width": [1]})

   sepal_length  sepal_width  petal_length  petal_width
0             1            1             1            1

In [10]:
X_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
16                 5.4               3.9                1.3               0.4
82                 5.8               2.7                3.9               1.2
60                 5.0               2.0                3.5               1.0
35                 5.0               3.2                1.2               0.2
143                6.8               3.2                5.9               2.3